---
const { label, href, target, addClasses } = Astro.props;
---

<a 
  href={href} 
  target={target} 
  class={`${addClasses ? addClasses : ''} w-full inline-flex items-center justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded`}
>
  {label}
</a>
